[Desktop Entry]
Name=DOOM BFA
Exec=DOOMBFA.sh
Icon=io.github.maddecoder.Classic-RBDOOM-3-BFG
Terminal=false
Type=Application
Categories=Game;
PrefersNonDefaultGPU=true
Actions=open-directly

[Desktop Action open-directly]
Name=Open without the Launcher
Exec=DOOMBFA.sh -open-directly